<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.kakaopay.project.mapper.TestMapper">
 
    <select id="selectTest" resultType="string">
        
        SELECT
            CONTENT
        FROM KEY.COMMENT
      	WHERE IDX = 3
    </select>
 
 <select id="selectTestList" parameterType="TestDVO" resultType="TestDVO">
        
        SELECT
            CONTENT, WRITER
        FROM KEY.COMMENT
        WHERE BOARD_IDX = #{boardIdx}
    </select>
 
 
 <insert id="insertTest" parameterType="TestDVO" >
		INSERT INTO KEY.COMMENT (
			BOARD_IDX
			, CONTENT
			, WRITER
			, DELETE_YN
			, INSERT_TIME
			, UPDATE_TIME
			, DELETE_TIME
			) VALUES (
			 0
			, #{content}
			, #{writer}
			, 'N'
			, NOW()
			, NULL
			, NULL
		)
	</insert>
 
</mapper>